<div class="container">
  <div class="banner" style="background-image: url('https://source.unsplash.com/PxiS1PBDuGo/1600x900');">
    <div class="banner-content">
      <h1>Poemic Club</h1>
      <p>A poem a day to your inbox</p>
    </div>
  </div>
  <%= render 'layouts/homesignup' %>
</div>
